/*.navbar {
  width: 100%;
  background: #0f3d2e;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  flex-wrap: nowrap;
}*/
.navbar {
  width: 100%;
  background: #0f3d2e;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
}
.nav-logo {
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.login-btn {
  padding: 0.4rem 0.8rem;
  background: #1b7f5f;
  border-radius: 6px;
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.register-btn {
  padding: 0.4rem 0.8rem;
  background: #145c43;
  border-radius: 6px;
  color: white;
  text-decoration: none;
  font-weight: 500;
}
