.notfound-container {
  padding: 4rem;
  text-align: center;
}
.notfound-container h1 {
  font-size: 4em;
  margin-bottom: 1rem;
}
.notfound-container p {
  font-size: 1.25em;
  margin-bottom: 2rem;
}
p {
  color: black;
}
